*.vspscc
*.log
[Bb]in
[Dd]ebug*/
*.user
obj/
[Rr]elease*/
_ReSharper*/
.vs/
.vscode/
**/node_modules/
**/package-lock.json
.idea/
[Dd]ata/
data/binlog.index
data/ib_logfile0
data/ibdata1
data/Legalace/__EFMigrationsHistory.ibd
data/Legalace/ApiClaims.ibd
data/Legalace/ApiProperties.ibd
data/Legalace/ApiResources.ibd
data/Legalace/ApiScopeClaims.ibd
data/Legalace/ApiScopes.ibd
data/Legalace/ApiSecrets.ibd
data/Legalace/AspNetRoleClaims.ibd
data/Legalace/AspNetRoles.ibd
data/Legalace/AspNetUserClaims.ibd
data/Legalace/AspNetUserLogins.ibd
data/Legalace/AspNetUserRoles.ibd
data/Legalace/AspNetUsers.ibd
data/Legalace/AspNetUserTokens.ibd
data/Legalace/ClientClaims.ibd
data/Legalace/ClientCorsOrigins.ibd
data/Legalace/ClientGrantTypes.ibd
data/Legalace/ClientIdPRestrictions.ibd
data/Legalace/ClientPostLogoutRedirectUris.ibd
data/Legalace/ClientProperties.ibd
data/Legalace/ClientRedirectUris.ibd
data/Legalace/Clients.ibd
data/Legalace/ClientScopes.ibd
data/Legalace/ClientSecrets.ibd
data/Legalace/Company.ibd
data/Legalace/CompanyEmployee.ibd
data/Legalace/CompanyInfoRecord.ibd
data/Legalace/ContactInfoRecord.ibd
data/Legalace/DeviceCodes.ibd
data/Legalace/IdentityClaims.ibd
data/Legalace/IdentityProperties.ibd
data/Legalace/IdentityResources.ibd
data/Legalace/Lookup.ibd
data/Legalace/LookupValue.ibd
data/Legalace/LookupValueRequirement.ibd
data/Legalace/Page.ibd
data/Legalace/PersistedGrants.ibd
data/Legalace/Person.ibd
data/mysql.ibd
data/undo_001
data/undo_002
Legalace/appadmin/yarn.lock
*log.txt
**/build/dist/
dependencies/offline/lib/
**/wwwroot/assets/app/
**/wwwroot/assets/appadmin/
uploaded_files/